.hero {
  background-color: #f1fdff;
  position: relative;
  min-height: 729px;
}

.overlay {
  background-image: url('../images/medium-shot-woman-holding-ukranian-flag\ 1.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 1440px;
  height: 877px;
  left: 425px;
}

.hero__title {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 93px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #9ad2de;
  max-width: 698px;
  margin-top: 136px;
  margin-bottom: 64px;
}

.hero__text {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  max-width: 468px;
}
