<header>
  <div class="container">
    <nav class="header__navigation">
      <a title="Logo" class="Logo"
        ><svg class="Logo__icon" width="65" height="65">
          <use href="./images/symbol-defs.svg#icon-Subtract-1"></use>
        </svg>
      </a>
      <div class="header__wrapper">
        <ul class="navigation header__navigation-list">
          <li class="navigation__item">
            <a class="navigation__contact" title="Контакти" href="#"
              >Контакти
            </a>
          </li>
          <li class="navigation__item">
            <a class="navigation__main" title="Головна" href="#">Головна </a>
          </li>
          <li class="navigation__item">
            <a class="navigation__program" title="Програма" href="#"
              >Програма
            </a>
          </li>
        </ul>
        <button type="button" class="navigation__button">Як потрапити</button>
      </div>
    </nav>
  </div>
</header>
